#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #ccd9ff;
}

.App{
  background:#fff;
  max-width: 900px;
  margin: 30px auto;
  padding: 15px;
  border-radius: 10px;
}

.TaskForm {
  width: 100%;
  margin-bottom: 1rem;
}

.task-input {
  outline: none;
  background: none;
  border: 1px solid #4470f4;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #99afe9;
}

.task-input::placeholder {
  color: #4e484831;
}

.task-btn {
  background: #4470f4;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.task-btn:hover {
  background: #010615;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.error-msg{
  color:red;
  font-weight: bold;
  display:block;
  margin-top:10px;
}

.task-list {
  display: flex;
  align-items: center;
  background: #5078efff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  gap:10px;
}

.task-list p{
  font-size:18px;
}

.icon-container{
  display:flex;
  margin-left:auto;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #212c40;
  text-decoration: line-through;
  cursor: pointer;
}

#checkbox{
  accent-color: blue;
}

.edit-icon:hover{
  color:#000000;
}

.delete-icon:hover{
  color:#000000;
}

.editTask-input {
  outline: none;
  background: none;
  border: 2px solid #a9bfffff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  width: 300px;
  color: #ffffffff;
}

.editTask-btn {
  background: #a9bfffff;
  color: #000000ff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.editTask-btn:hover {
  background: #010615;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.task-created span{
  font-style:italic;
  font-size:12px;
}

.filterBtn{
  align-items:center;
  margin-bottom: 16px;
}

select{
  justify-content:center;
  min-inline-size: 14ch;
  justify-content: space-between;
  padding: 1rem;
  background-color: #4470f4;
  border:none;
  border-radius: 5px;
  color: #fff;

  option{
    background-color: #091331;
  }

}

/*tablet*/
@media(max-width:900px){
  .App{
    max-width: 90%;
  }
}

/*mobile phone*/
@media(max-width:600px){
  .App{
    margin: 0;
    border-radius: 2px;
    min-height: 100vh;
  }

  .task-list p{
    font: size 12px;
  }

  .fa-trash {
    margin-left: 0.3rem;
  }

  .task-input{
    width: 200px;
  }

  .task-created span{
    font-size:9px;
  }
}


